<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Weather App</h1>
      <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city name" />
        <button type="submit">Get Weather</button>
      </form>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (weather) { %>
      <div class="card">
        <p class="reading">
          <i class="fas fa-thermometer-half"></i>
          <%=weather.main.temp%>&deg;F
        </p>
        <p class="reading">
          <i class="fas fa-cloud"></i>
          <%=weather.weather[0].main%>
        </p>
        <p class="reading">
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.name%>,<%=weather.sys.country%>
        </p>
        <!--
        <p class="reading">
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.pressure%>,
        </p>
        <p class="reading">
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.wind%>,
        </p>
        <p class="reading">
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.humidity>,
        </p>
        -->
      </div>
      <% } %>
      <div>
        <h4 >My first Node.js Application</h4>
      </div>
    </div>
  </body>
</html>
